.content__device {
    padding-left: 24px;
    padding-top: 16px;
    background-color: #F7F7F7;
    height: 100%;
    // max-width: 1240px;
    // overflow: auto;

    .title__device {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 24px;
        color: #FF7506;
        margin-bottom: 5px;

        .add_device {
            background: #FFF2E7;
            box-shadow: 0px 0px 6px #E7E9F2;
            border-radius: 8px;
            color: #FF7506;
            font-weight: 600;
            font-size: 14px;
            padding: 15px 5px;
            text-align: center;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            margin-right: 15px;
        }

        .add_device:hover {
            opacity: 0.8;
        }
    }

    .actions__device {
        display: flex;

        .select__deveice {
            width: 300px;
            height: 44px;
            background: #FFFFFF;
            border: 1.5px solid #D4D4D7;
            border-radius: 8px;
            padding: 5px 0px;
            font-weight: 400;
            font-size: 16px;
            color: #535261;

            // .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
            //     border-color: none;
            //     box-shadow: none;
            //     outline: none;
            // }

            .ant-select-single {
                border-color: #FFF;
            }

            .ant-select-selector {

                background-color: #fff;
                border: 1px solid #ffff;
                border-radius: 2px;
                transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            .ant-select-selector:focus {
                border-color: #fff;
                box-shadow: none;
            }

            .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
                border-color: #fff !important;
                box-shadow: none !important;

                outline: 0;
            }

        }

        .search__device {

            .input__device {

                width: 300px;
                height: 44px;
                background: #FFFFFF;
                /* Gray/$-gray-100 */
                padding: 5px 16px 10px 12px;
                border: 1.5px solid #D4D4D7;
                border-radius: 8px;

                .ant-input {
                    border: #FFF;
                    font-size: 16px;
                    font-weight: 400;

                    &:focus {
                        box-shadow: none;
                    }
                }

                select:active .ant-input {
                    border-color: #FF7506;
                }

                .ant-input-search-button {
                    background-color: #ffff;
                    outline: none;
                    color: #FF7506;
                    border: none;

                    &:focus {
                        box-shadow: none;
                    }

                    &:active {
                        display: none;
                    }
                }


            }
        }
    }

    .text_action {
        font-weight: 600;
        font-size: 16px;
        color: #282739;
        margin-bottom: 4px;
    }


    .table__device {
        width: 1112px;
        margin-top: 16px;


    }

    .devicepage__filter-item-body.ant-select .ant-select-selector {
        border-radius: 8px !important;
    }

    thead[class*="ant-table-thead"] th {
        background-color: #FF9138 !important;
        color: white;
        font-weight: 700;
        font-size: 16px;
        border-color: #FFF;
        text-align: center;

    }



    .ant-table-tbody {
        border-radius: 16px;
    }

    .table-row-light {
        background-color: #ffffff;
    }

    .table-row-dark {
        background-color: #FFF2E7;
    }

    .ant-table-tbody>tr>td,
    .ant-table-thead>tr>th {}

    .ant-pagination-item-active a {
        width: 32px;
        height: 32px;
        background: #FF7506;
        border-radius: 4px;
        border-color: #fff;
        color: #FFF;
        outline: none;
    }
}